/* components/CustomStep.module.css */
.container {
  padding: 200px;
  text-align: center;
}

.stepContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.stepWrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepBall {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s; /* Smooth transition for color change */
}

.stepBall.filled {
  background-color: blue; /* Color for filled balls */
}

.stepLine {
  height: 4px;
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  /* transform: translateY(-50%);  */
  z-index: 0;
  transition: background-color 0.3s;  /* Smooth transition for color change */
}

.stepLine.filledLine {
  background-color: blue; /* Color for filled lines */
}


