@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 

.ant-otp { 
  display: flex; 
  align-items: unset;
 }


 ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf00;
}

/* Handle */
::-webkit-scrollbar-thumb {

  /* background: #6b5ecc34;  */
  background: #ffffff67;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b5ecc34;
} 

.EditImage .form-field input{
  color: #0a0a0a;
} 
.EditImage .form-field select{
  color: #0a0a0a;
} 


.ant-input-outlined { 
  /* background: transparent !important;  */
  border-width: 1.5px !important;
  border-style: solid;
  border-color: #BABABA !important;
  height: 60px;
} 

.ant-input-outlined:focus, .ant-input-outlined:focus-within  { 
  
  border-width: 1.5px !important;
  border-style: solid;
  border-color: #BABABA !important;
  
}  

.image-caption{
  display: none !important;
} 
ant-drawer-close:hover{
 background: transparent;
}